.upload-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.upload-full-width {
    width: 100%;
}
  
.upload-card {
    width: 100%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
 }