<h1>Upload</h1>

<input type="file" (change)="uploadFile($event)" name="file" />

<mat-card class="upload-card">
    <mat-card-content>
      <p>Date: {{upload_data.date}}</p>
      <p>File Name: {{upload_data.file_name}}</p>
      <p>Transactions: {{upload_data.num_transactions}} <a *ngIf="upload_data.num_transactions != undefined" [routerLink]="'/transactions'" [queryParams]="{upload_id: upload_data.id}">transactions</a></p>
      <p>Result: {{upload_data.result}}</p>
      <p>Content:</p>
      <div class="scrolling-wrapper">
          <pre>{{upload_data.content}}</pre>
      </div>
    </mat-card-content>
</mat-card>
