<h1>Transaction: {{id}} </h1>
<a a (click) = "location.back()"><i class="material-icons">arrow_back</i></a>
<div *ngIf="transaction != undefined">
    <mat-card class="transaction-card">
        <mat-card-content>
          <form class="transaction-form" #transcationForm="ngForm">
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Date" [(ngModel)]="transaction.date" name="date">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Type" [(ngModel)]="transaction.type" name="type">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Quantity" [(ngModel)]="transaction.quantity" name="quantity">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Price" #price [ngModel]="transaction.price | number:'1.2-2'" (blur)="transaction.price=price.value" name="price">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Amount" #amount [ngModel]="transaction.amount | number:'1.2-2'" (blur)="transaction.amount=amount.value" name="amount">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
                <input matInput placeholder="Fee" #fee [ngModel]="transaction.fee | number:'1.2-2'" (blur)="transaction.fee=fee.value" name="amount">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <input matInput placeholder="Capital Returned" #capital_return [ngModel]="transaction.capital_return | number:'1.2-2'" (blur)="transaction.capital_return=capital_return.value" name="capital_return">
            </mat-form-field>
            <mat-form-field class="transaction-full-width">
              <textarea matInput placeholder="Note" [(ngModel)]="transaction.note" name="note"></textarea>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onSave($event)">Save</button>
        </mat-card-actions>
    </mat-card>
</div>
