<div [hidden]="showingSymbol == true || showingTransactions == true">
  <a mat-button (click) = "close()"><i class="material-icons">arrow_back</i></a>
  <h1>Holdings: {{account}}</h1>
  <div class="mat-elevation-z8 app-content">
    <div *ngIf="dataSource.data.length != 0" class="table-container">
      <mat-table #table [dataSource]="dataSource" class="table">
        <ng-container cdkColumnDef="symbol">
          <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Symbol </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="table-cell">
              <ul style="list-style: none; padding-left: 0px">
                  <li><a [routerLink]="" (click)="showSymbol(row.symbol)">{{row.symbol.name}}</a></li>
                  <li>{{row.symbol.description}}</li>
              </ul>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="quantity">
          <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Quantity </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.quantity}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="amount">
          <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Amount </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.amount | number:'1.2-2'}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="reviewed_date">
            <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Reviewed Date </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.symbol.reviewed_date}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="review_result">
            <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Review Result </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.symbol.review_result}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="accounts">
          <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Accounts </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="table-cell">
            <ng-container *ngFor="let acc of row.accounts">
                <div style="margin-right:3px"><a (click)="accountHoldingsClick(acc)" [routerLink]="">{{acc}}</a></div>
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="transactions">
          <mat-header-cell *cdkHeaderCellDef class="table-header-cell"> Transactions </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="table-cell"> <a (click)="showTransactions(account, row.symbol)" [routerLink]=""><i class="material-icons">arrow_forward</i></a></mat-cell>
        </ng-container>

        <div *ngIf="account != 'All'">
          <mat-header-row *cdkHeaderRowDef="['symbol', 'quantity', 'amount', 'reviewed_date', 'review_result', 'transactions']" class="table-header-row"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: ['symbol', 'quantity', 'amount', 'reviewed_date', 'review_result', 'transactions'];" class="table-row"></mat-row>
        </div>
        <div *ngIf="account == 'All'">
          <mat-header-row *cdkHeaderRowDef="['symbol', 'quantity', 'amount', 'reviewed_date', 'review_result', 'accounts']" class="table-header-row"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: ['symbol', 'quantity', 'amount', 'reviewed_date', 'review_result', 'accounts'];" class="table-row"></mat-row>
        </div>
      </mat-table>
    </div>
  </div>
</div>
<div [hidden]="showingSymbol == false">
    <app-symbol (symbolClosed)="onSymbolClosed()"></app-symbol>
</div>
<div [hidden]="showingTransactions == false">
    <app-transactions (transactionsClosed)="onTransactionsClosed()"></app-transactions>
</div>
  